<div class="input_field">
  <%= form.label "Time on ice (minutes)" %><br>
  <%= form.number_field :time_on_ice_goalie,  min: 0, placeholder: 0 %>
</div>

<div class="input_field">
  <%= form.label "Shots against" %><br>
  <%= form.number_field :shots_against_goalie,  min: 0, placeholder: 0 %>
</div>

<div class="input_field">
  <%= form.label "Saves" %><br>
  <%= form.number_field :saves_goalie,  min: 0, placeholder: 0 %>
</div>

<div class="input_field">
  <%= form.label "Goals against" %><br>
  <%= form.number_field :goals_against_goalie,  min: 0, placeholder: 0 %>
</div>