<div class="input_field">
  <%= form.label "Goals" %><br>
  <%= form.number_field :goals_skater,  min: 0, placeholder: 0 %>
</div>

<div class="input_field">
  <%= form.label "Assists" %><br>
  <%= form.number_field :assists_skater,  min: 0, placeholder: 0 %>
</div>

<div class="input_field">
  <%= form.label "Powerplay Goals" %><br>
  <%= form.number_field :powerplay_goals_skater,  min: 0, placeholder: 0 %>
</div>

<div class="input_field">
  <%= form.label "Penalty Minutes" %><br>
  <%= form.number_field :penalty_minutes_skater,  min: 0, placeholder: 0 %>
</div>