<html lang="en">
<%= render 'shared/header', stylesheet_link: 'participations', page_title: "Delete Stats" %>
<body>
    <%= render 'shared/navbar' %>

    <div class="body-div-participation-delete">
      <div class="title">
        <h2>Delete Stats</h2>
      </div>

      <div class="participation-stats-delete">
        <%= form_for(@participation, :method => 'delete') do |f|%>
          <p>Are you sure you want to permanently delete this stats entry?</p>
          <p><%= @participation.against_team %></p>

          <div class="form-buttons">
            <%= f.submit("Delete Participation", class: "btn btn-danger") %>
          </div>
        <% end %>
      </div>

      <div class="delete-participation-div">
        <%= link_to '<button class="btn btn-success">Edit Stats</button>'.html_safe, edit_participation_path(@participation)%>
      </div>
    </div>
    
    <%= render 'shared/footer' %>
</body>


