<html lang="en">
<%= render 'shared/header', stylesheet_link: 'games', page_title: "Select Game" %>
<body>
   <%= render 'shared/navbar' %>

	<div class="body-div-game-index">
		<div class="calendar">
			<%= month_calendar do |date| %>  
				<%= date %>
				<% @games = Game.where(date: date.beginning_of_month.beginning_of_week..date.end_of_month.end_of_week) %>  
				<% @games.each do |game| %>  
					<div>  
						<% if game.date == date %>
							<strong class="against-team"><%= game.against_team %></strong>
							<div class="game-actions">
								<%= link_to '<button class="btn btn-primary btn-sm">Select Game</button>'.html_safe, "/participations/new/" + game.id.to_s + "/" + params[:id].to_s %>
							</div>
						<% end %>
					</div>  
				<% end %>
			<% end %>
		</div
	</div>

    <%= render 'shared/footer' %>
</body>
</html>