<html>
  <%= render 'shared/header', stylesheet_link: 'participations', page_title: "Participation Index" %>
	<body>
      <%= render 'shared/navbar' %>
		<h2>Participations:</h2>
		<% flash.each do |type, msg| %>
		<div>
			<%= msg %>
		</div>
		<% end %>

		<% @participation.each do |participation| %>
			<%=render 'participation_tile', participation_obj: participation, player_obj: Player.find(participation.player_id), game_obj: Game.find(participation.game_id) %>
		<%end%>
		<div class="new-participation-div">
			<%= link_to '<button class="btn btn-success">Add New Participation</button>'.html_safe, new_participation_path() %><br/>
		</div>
		<%= render 'shared/footer' %>
</body>
</html>
