<html lang="en">

	<%= render 'shared/header', stylesheet_link: 'participations', page_title: "View Participation" %>

	<body>
		<%= render 'shared/navbar' %>
		<h1>Player: <%= @player.first_name + " " + @player.last_name + " "%>(<%= @player.position%>)</h1>

		<table class="center">
			<tr>
				<th>Game</th>

				<% if @player.position.eql?("Goalie") %>
					<th>Goals Against</th>
					<th>Saves</th>
					<th>Shots Against</th>
					<th>Time on Ice (Minutes)</th>
					<th>Actions</th>
				<% else %>
					<th>Goals</th>
					<th>Assists</th>
					<th>Powerplay Goals</th>
					<th>Penalty Minutes</th>
					<th>Actions</th>
				<%end%>
			</tr>
				<% @participation.each do |participation| %>
					<tr>
						<td>
							<%= game_identity(Game.find(participation.game_id)) %>
						</td>
						<% if @player.position.eql?("Goalie")%>
							<td>
								<%= participation.goals_against_goalie %>
							</td>
							<td>
								<%= participation.saves_goalie %>
							</td>
							<td>
								<%= participation.shots_against_goalie %>
							</td>
							<td>
								<%= participation.time_on_ice_goalie %>
							</td>
							<td>
								<ul>
					<li>
						<%= link_to "View Stats Entry", participation_path(participation) %>
					</li>
					<% if admin_signed_in? %>
					<li>
						<%= link_to "Edit Stats Entry", edit_participation_path(participation) %>
					</li>
					<li>
						<%= link_to "Delete Stats Entry", delete_participation_path(participation), data: {confirm: 'You sure about that?'} %>
					</li>
					<% end %>
				</ul>
							</td>
						<% else%>
							<td>
								<%= participation.goals_skater %>
							</td>
							<td>
								<%= participation.assists_skater %>
							</td>
							<td>
								<%= participation.powerplay_goals_skater %>
							</td>
							<td>
								<%= participation.penalty_minutes_skater %>
							</td>
							<td>
								<ul>
									<li>
										<%= link_to "View Stats Entry", participation_path(participation) %>
									</li>
									<% if admin_signed_in? %>
										<li>
											<%= link_to "Edit Stats Entry", edit_participation_path(participation) %>
										</li>
										<li>
											<%= link_to "Delete Stats Entry", delete_participation_path(participation), data: {confirm: 'You sure about that?'} %>
										</li>
									<% end %>
								</ul>
							</td>
						<% end %>
					</tr>
				<% end%>
			
		</table>

		<%= render 'shared/footer' %>
	</body>

	<style>
		table, th, td {
		border: 1px solid black;
		}
		table.center {
		margin-left: auto;
		margin-right: auto;
		}
	</style>