<html lang="en">

	<%= render 'shared/header', stylesheet_link: 'participations', page_title: "View Participation" %>

	<body>
		<%= render 'shared/navbar' %>

		<div class="body-div-participation-show">
          <div class="title">
            <h1>Participation for:</h1>
          </div>
          <div class="participation-stats">
            <h3><%= full_name(@player) %></h3>
            <h3>Texas A&M <%= game_identity(@game) %></h3>
          <div>
        </div>

        <% if @player.position.eql?("Goalie") %>
            <div class="participation-info">
                <h3>Recorded Stats:</h3>
                <% if @participation.shots_against_goalie %>
                  <h4>Shots Against: <%= @participation.shots_against_goalie %></h4>
                <% end %>
                <% if @participation.saves_goalie %>
                  <h4>Saves: <%= @participation.saves_goalie %></h4>
                <% end %>
                <% if @participation.goals_against_goalie %>
                  <h4>Goals Against: <%= @participation.goals_against_goalie %></h4>
                <% end %>
                <% if @participation.time_on_ice_goalie %>
                  <h4>Time On Ice (minutes): <%= @participation.time_on_ice_goalie %></h4>
                <% end %>
            </div>
        <% else %>
            <div class="participation-info">
                <h3>Recorded Stats:</h3>
                <% if @participation.goals_skater %>
                  <h4>Goals: <%= @participation.goals_skater %></h4>
                <% end %>
                <% if @participation.assists_skater %>
                  <h4>Assists: <%= @participation.assists_skater %></h4>
                <% end %>
                <% if @participation.powerplay_goals_skater %>
                  <h4>Powerplay Goals: <%= @participation.powerplay_goals_skater %></h4>
                <% end %>
                <% if @participation.penalty_minutes_skater %>
                  <h4>Penalty Minutes: <%= @participation.penalty_minutes_skater %></h4>
                <% end %>
            </div>
        <% end %>



      </div>

        <% if admin_signed_in? %>
          <%= link_to '<button class="btn btn-primary btn-sm">Edit Stats</button>'.html_safe, edit_participation_path(@participation) %><br/>
        <% end %>
        <%= link_to '<button class="btn btn-primary btn-sm">Home</button>'.html_safe, root_path, :class => 'go back' %><br/>
    </div>

		<%= render 'shared/footer' %>
	</body>