<html lang="en">
<%= render 'shared/header', stylesheet_link: 'analytics', page_title: "Analytics Page" %>

<body>
    <%= render 'shared/navbar' %>
    
    <%= line_chart [
		{name: "Goals scored", data: @game_graph.group(:date).group(:against_team).sum(:goals_for) },
		{name: "Goals against", data: @game_graph.group(:date).group(:against_team).sum(:goals_against)} ], library: {
      title: {text: 'Score per games'},
    } %>

    <%= line_chart @participation_graph.group(:player_id).sum(:goals_skater), library: {
      title: {text: 'Score goals by players'},
      xAxis: {
        allowDecimals: false,
        title: {
          text: 'Player number'
        }
      }
    } %>


    <%= column_chart Player.group(:position).count, height: '500px', library: {
      title: {text: 'Player by postion'},
      yAxis: {
        allowDecimals: false,
        title: {
          text: 'Players count'
        }
      },
      xAxis: {
        title: {
          text: 'People'
        }
      }
    } %>

    <%= render 'shared/footer' %>
</body>
</html>