<html lang="en">
<%= render 'shared/header', stylesheet_link: 'analytics', page_title: "Analytics Page" %>

<body>
    <%= render 'shared/navbar' %>
      
    <%= goals_for_vs_goals_against %>

    <%= score_by_skater %>

    <%= player_position_count %>

    <%= game_location_by_state %>

    <%= win_lose_overtime %>

    <%= goal_source_powerplay_other %>

    <%= render 'shared/footer' %>
</body>
</html>