<html lang="en">
<%= render 'shared/header', stylesheet_link: 'analytics', page_title: "Analytics Page" %>

<body>
    <%= render 'shared/navbar' %>
    
    <%= line_chart [
		{name: "Goals scored", data: @goal_score_season },
		{name: "Goals against", data: @goal_against_season} ], library: {
      title: {text: 'Score per games'},
    } %>

    <%= line_chart @participation_graph.group(:player_id).sum(:goals_skater), library: {
      title: {text: 'Score goals by players'},
      xAxis: {
        allowDecimals: false,
        title: {
          text: 'Player number'
        }
      }
    } %>


    <%= column_chart Player.group(:position).count, height: '500px', library: {
      title: {text: 'Player by postion'},
      yAxis: {
        allowDecimals: false,
        title: {
          text: 'Players count'
        }
      },
      xAxis: {
        title: {
          text: 'People'
        }
      }
    } %>

    <%= column_chart Game.group(:state).count %>

    <%= pie_chart ({"Win"=>@win_game, "Lose"=>@lose_game, "Overtime" => @over_game}) %>
    <%= @temp_2 %>

    <%= render 'shared/footer' %>
</body>
</html>