<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 12px;
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
			
			<h2>Add Players:</h2>
			<p> In order to add players to the website, first you will need to navigate to the
			Players tab at the top of the screen. Once on the players page, you should see a green
			button labeled "Add New Player". If you do not see this button, that means you are not
			logged in as an admin and should refer to "Login" section of this help page.
			</p>
			
			<%= image_tag("add_player.png", size:"500x250") %>
			
			<p>
			After clicking this button you should be taken to the page seen below. On this 
			page you can enter all of the player's information. For filling out the "Image link",
			you will first need to go the official Tamu Ice Hockey website at https://www.tamuicehockey.com/.
			Once there, you will need to navigate to roster (this can be found under the Team navigation tab)
			and locate the desired player's image. Right-click on the image and copy the image link. You will
			then return to the edit player page and paste that link into the "Image link" field. Once you have 
			entered all of the player's relevant data, click the green button labeled "Create Player" at 
			the bottom of the page.
			</p>
			
			<%= image_tag("create_player.png", size:"500x250") %>
			
			<p>
			Clicking this button will create the player and redirect you back to the Players page
			where you can find the newly created player as seen below
			</p>
			
			<%= image_tag("new_player.png", size:"500x250") %>
			
			<br>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>
