<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 12px;
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
			
			<h2>Delete Player Statistics:</h2>
			<p>
			To begin, you must first be on the Players page. Then you must navigate to the 
			specific player you are wanting to delete statistics for. Once you have found the desired player, 
			you will need to press the blue "View Player Stats" button.
			</p>
			
			<%= image_tag("view_stats1.png", size:"500x250") %>
			
			<p>
			You should be directed to a page similar to the one seen below. You will then need
			to navigate to game with the statistics that you are wanting to delete. You will then press 
			the blue "Edit Stats" button under the desired game.
			</p>
			
			<%= image_tag("edit_stats1.png", size:"500x250") %>
			
			<p>
			You should have been directed to the update player statistics page for the specified 
			game. You will then press the red "Delete Participation" button at the bottom of the page.
			</p>
			
			<%= image_tag("delete_stats1.png", size:"500x250") %>
			
			<p>
			This will direct to a confirmation page. This will be your last chance before the participation 
			is completely deleted. If you are still sure, press the red "Delete Participation" button.
			</p>
			
			<%= image_tag("delete_stats2.png", size:"500x250") %>
			
			<br>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>