<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 12px;
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
			
			<h2>Edit Player Statistics:</h2>
			<p>
			To begin, you must first be on the Players page. Then you must navigate to the 
			specific player you are wanting to edit. Once you have found the desired player, 
			you will need to press the blue "Edit/Create" button.
			</p>
			
			<%= image_tag("add_stats1.png", size:"500x250") %>
			
			<p>
			You should be directed to a page similar to the one seen below. You will then need
			to navigate to game in which your specified player participated. You will then press 
			the blue "Select" button under the desired game.
			</p>
			
			<%= image_tag("add_stats2.png", size:"500x250") %>
			
			<p>
			You should have been directed to the update player statistics page for the specified 
			game. You will then fill out all of the necessary statistics and press the green 
			"Update Participation" button once you are finished.
			</p>
			
			<%= image_tag("edit_stats2.png", size:"500x250") %>
			
			<br>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>