<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<body>
	  	<%= render 'shared/navbar' %>
		<div class="body">
			<div class="help-title">
				<h1>Helper Page</h1>
			</div>
			<div class="help-div">
				<div class="help-buttons">
				
					<%= link_to '<button class="btn btn-primary">Login</button>'.html_safe, '/login', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Add Player</button>'.html_safe, '/add_player', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Edit Player Profile</button>'.html_safe, '/edit_player', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Add Player Statistics</button>'.html_safe, '/add_player_stats', class: "button" %>
					
				</div>	

				<div class="help-buttons">
				
					<%= link_to '<button class="btn btn-primary">View Player Statistics</button>'.html_safe, '/view_player_stats', class: "button" %>
				
					<%= link_to '<button class="btn btn-primary">Delete Player</button>'.html_safe, '/delete_player', class: "button" %>
	
					<%= link_to '<button class="btn btn-primary">Add Game</button>'.html_safe, '/add_game', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Edit Game / Add Game Statistics</button>'.html_safe, '/edit_game', class: "button" %>
									
				</div>

				<div class="help-buttons">
				
					<%= link_to '<button class="btn btn-primary">View Game</button>'.html_safe, '/view_game', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Delete Game</button>'.html_safe, '/delete_game', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Edit Player Statistics</button>'.html_safe, '/edit_player_stats', class: "button" %>
					
					<%= link_to '<button class="btn btn-primary">Delete Player Statistics</button>'.html_safe, '/delete_player_stats', class: "button" %>
				</div>
				
			</div>
		</div>
	
		<%= render 'shared/footer' %>
	</body>
<html>
