<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				color: blue;
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
	  
			<%= link_to '<button>Login</button>'.html_safe, '/login', class: "button" %>
			<br>
			<%= link_to '<button type="button">Add Player</button>'.html_safe, '/add_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">Edit Player / Add Player Statistics</button>'.html_safe, '/edit_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">View Player Statistics</button>'.html_safe, '/edit_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">Delete Player</button>'.html_safe, '/delete_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">Add Game</button>'.html_safe, '/add_game', class: "button" %>
			<br>
			<%= link_to '<button type="button">Edit Game / Add Game Statistics</button>'.html_safe, '/edit_game', class: "button" %>
			<br>
			<%= link_to '<button type="button">View Game</button>'.html_safe, '/view_game', class: "button" %>
			<br>
			<%= link_to '<button type="button">Delete Game</button>'.html_safe, '/delete_game', class: "button" %>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>
