<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				color: blue;
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
	  
			<%= link_to '<button>How to login</button>'.html_safe, '/login', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to add a player</button>'.html_safe, '/add_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to edit a player profile or add player statistics</button>'.html_safe, '/edit_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to view player statistics</button>'.html_safe, '/edit_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to delete a player</button>'.html_safe, '/delete_player', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to add a game</button>'.html_safe, '/add_game', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to edit a game or add game statistics</button>'.html_safe, '/edit_game', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to view game statistics</button>'.html_safe, '/view_game', class: "button" %>
			<br>
			<%= link_to '<button type="button">How to delete game</button>'.html_safe, '/delete_game', class: "button" %>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>
