<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 12px;
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
			
			<h2>View Game Statistics:</h2>
			<p>
			Navigate to the Games page. Once there, navigate through the calendar until you find the game you want 
			to view. You will then want to click the "View Game" button like the one seen before.
			</p>
			
			<%= image_tag("view_game.png", size:"500x250") %>
			
			<p>
			You will then be directed to a page with all of the information relevant to the selected game 
			like the one in the image below.
			</p>
			
			<%= image_tag("show_game_page.png", size:"500x250") %>
			
			<br>
			<br>
			
		</div>
	
	<%= render 'shared/footer' %>
<html>
