<html>
  <%= render 'shared/header', stylesheet_link: 'pages', page_title: "Help" %>
	<head>
		<style>
		
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
			
			.button {
				background-color: #4CAF50; /* Green */
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
				border-radius: 12px;
				box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
			}
			
		</style>
	</head>
	
	<body>
	  <%= render 'shared/navbar' %>
	  <div class="help-title">
			
			<h2>Add Player Statistics:</h2>
			<p>
			To view player statistics, you will need to start from the Players page. Next, 
			you will need to find the specific player that you want to view. 
			After finding the desired player, you will need to click the blue "View Player Stats"
			button.
			</p>
				
			<%= image_tag("view_stats1.png", size:"500x250") %>
			
			<p>
			This will direct you to a page similar to the one seen below.
			</p>
			
			<%= image_tag("add_stats4.png", size:"500x250") %>
			
			<br>
			<br>
			
		</div>
	<%= render 'shared/footer' %>
<html>