<html lang="en">
<%= render 'shared/header', stylesheet_link: 'games', page_title: "Delete Game" %>
<body>
    <%= render 'shared/navbar' %>

    <div class="body-div-game-delete">
      <div class="game-delete-title">
        <h1>Delete Game</h1>
      </div>

      <div class="game-stats-delete">
        <%= form_for(@game, :method => 'delete') do |f|%>
          <h3>Are you sure you want to permanently delete this game entry?</h3>
          <h3><%= @game.against_team %> @ <%= @game.date.month %>/<%= @game.date.day %>/<%= @game.date.year %></h3>

          <div class="form-buttons">
            <%= f.submit("Delete Game", class: "btn btn-danger",  data: {confirm: "Click 'OK' to delete game."} ) %>
          </div>
        <% end %>
      </div>

      <div class="delete-game-div">
        <%= link_to '<button class="btn btn-success">Edit Game</button>'.html_safe, edit_game_path(@game)%>
      </div>
    </div>
    
    <%= render 'shared/footer' %>
</body>


