<html lang="en">
<%= render 'shared/header', stylesheet_link: 'games', page_title: "Delete Game" %>
<body>
    <%= render 'shared/navbar' %>

    <div class="body-div-game-delete">
      <div class="title">
        <h2>Delete Game</h2>
      </div>

      <div class="game-stats-delete">
        <%= form_for(@game, :method => 'delete') do |f|%>
          <p>Are you sure you want to permanently delete this game entry?</p>
          <p><%= @game.against_team %></p>

          <div class="form-buttons">
            <%= f.submit("Delete Game", class: "btn btn-danger") %>
          </div>
        <% end %>
      </div>

      <div class="delete-game-div">
        <%= link_to '<button class="btn btn-success">Edit Game</button>'.html_safe, edit_game_path(@game)%>
      </div>
    </div>
    
    <%= render 'shared/footer' %>
</body>


