<html lang="en">
<%= render 'shared/header', stylesheet_link: 'games', page_title: "Edit Game" %>
<body>
    <%= render 'shared/navbar' %>

    <div class="body-div-game-edit">
       
        <%= render 'games/gameEditForm'%>

        <div class="edit-game-div">
            <%= link_to '<button class="btn btn-success">View Game</button>'.html_safe, game_path(@game) %>
            <%= link_to '<button class="btn btn-danger">Delete Game</button>'.html_safe, delete_game_path(@game)%>
        </div>

    </div>
    
    <%= render 'shared/footer' %>
</body>

    
