<html lang="en">
<%= render 'shared/header', page_title: "Edit Game" %>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class= "logo-image">
                <%= image_tag("HockeyLogo.png", width: '75px', height: '75px')%>
            </div>

            <%#For collapse NavBar%>
            <a class="navbar-toggler" type="a" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-secondary"></span>
            </a>

            <%# Change disabled from home to page you are modifying %>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav button-div">
                    <%= link_to '<button>Home</button>'.html_safe, root_path() %>
                    <div class= "vertical-line"></div>
					<%= link_to '<button>View Games</button>'.html_safe, games_path() %>
                    <div class= "vertical-line"></div>
                    <%= link_to '<button>View Players</button>'.html_safe, players_path() %>
                    <div class= "vertical-line"></div>
                    <button>View Analytics</button>
                </div>
                <div class= "navbar-nav login">
                    <a href="#">Admin Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="body-div-game-edit">
        <div class="title">
            <h1>Edit Game</h1>
        </div>

        <%= form_with model: @game  do |form| %>
            <div class="game-edit">
                <div class="game-info-edit">
                    <div class="input_field">
                        <%= form.label :against_team %><br>
                        <%= form.text_field :against_team , required: true, placeholder: "Opposition Team..." %>
                    </div>

                    <div class="input_field">
                        <%= form.label :date %><br>
                        <%= form.date_field :date , required: true %>
                    </div>

                    <div class="input_field">
                        <%= form.label :time %><br>
                        <%= form.time_field :time , required: true%>
                    </div>

                    <div class="input_field">
                        <%= form.label :rink_name %><br>
                        <%= form.text_field :ring_name, placeholder: "Rink Name..."%>
                    </div>

                    <div class="input_field">
                        <%= form.label :city %><br>
                        <%= form.text_field :city, placeholder: "City..."%>
                    </div>

                    <div class="input_field">
                        <%= form.label :state %><br>
                        <%= form.text_field :state, placeholder: "State..."%>
                    </div>
                </div>

                <div class="games-stats-edit">
                    <div class="input_field">
                        <%= form.label :goals_for %><br>
                        <%= form.number_field :goals_for, placeholder: "Goals For...", min: 0 %>
                    </div>

                    <div class="input_field">
                        <%= form.label :goals_against %><br>
                        <%= form.number_field :goals_against, placeholder: "Goals Against...", min: 0 %>
                    </div>

                    <div class="input_field">
                        <%= form.label :is_overtime? %><br>
                        <%= form.check_box :is_overtime%>
                    </div>

                    <div class="input_field">
                        <%= form.label :powerplay_attempts %><br>
                        <%= form.number_field :powerplay_attemps, min: 0, placeholder: "Powerplay Attempts..." %>
                    </div>

                    <div class="input_field">
                        <%= form.label :killed_penalties %><br>
                        <%= form.number_field :killed_penalties, min: 0, placeholder: "Killed Penalties..." %>
                    </div>

                    <div class="input_field">
                        <%= form.label :total_penalties %><br>
                        <%= form.number_field :total_penalties , min: 0, placeholder: "Total Penalties..."%>
                    </div>
                </div>
            </div>

            <div class="submit-button">
                    <%= form.submit class: "btn btn-success" %>
            </div>
        <% end %>

        <div class="edit-game-div">
            <%= link_to '<button class="btn btn-success">View Game</button>'.html_safe, game_path(@game) %>
            <%= link_to '<button class="btn btn-danger" title="Click to go to confirmation page">Delete Game</button>'.html_safe, delete_game_path(@game), data: {confirm: "Are you sure?"} %>
        </div>

    </div>
    
    
    <%= render 'shared/footer' %>
</body>

    
