<html lang="en">

<%= render 'shared/header', page_title: "Games Page" %>

<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class= "logo-image">
                <%= image_tag("HockeyLogo.png", width: '75px', height: '75px')%>
            </div>

            <%#For collapse NavBar%>
            <a class="navbar-toggler" type="a" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-secondary"></span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav button-div">
                    <%= link_to '<button>Home</button>'.html_safe, root_path() %>
                    <div class= "vertical-line"></div>
					<%= link_to '<button disabled>View Games</button>'.html_safe, games_path() %>
                    <div class= "vertical-line"></div>
                    <%= link_to '<button>View Players</button>'.html_safe, players_path() %>
                    <div class= "vertical-line"></div>
                    <button>View Analytics</button>
                </div>
                <div class= "navbar-nav login">
                    <a href="#">Admin Login</a>
                </div>
            </div>
        </div>
    </nav>

	<div class="body-div-game-index">
		<div class="calendar">
			<%= month_calendar do |date| %>  
				<%= date %>
				<% @games = Game.where(date: date.beginning_of_month.beginning_of_week..date.end_of_month.end_of_week) %>  
				<% @games.each do |game| %>  
					<div>  
						<% if game.date == date %>
							<strong class="against-team"><%= game.against_team %></strong>
							<div class="game-actions">
								<br><%= link_to '<button class="btn btn-primary btn-sm">View Game</button>'.html_safe, game_path(game) %>
								<%= link_to '<button class="btn btn-primary btn-sm">Edit Game</button>'.html_safe, edit_game_path(game) %>
							</div>
						<% end %>
					</div>  
				<% end %>
			<% end %>
		</div>

		<div class="new-game-div">
			<%= link_to '<button class="btn btn-success">Add New Game</button>'.html_safe, new_game_path() %><br/>
		</div>
	</div>

    <%= render 'shared/footer' %>
</body>
</html>