<html lang="en">
<%= render 'shared/header', stylesheet_link: 'players', page_title: "Add Game" %>
<body>
    <%= render 'shared/navbar' %>
    
    <div class="body-div-game-add">
        <div class="title">
            <h1>Add Game</h1>
        </div>

        <div class="game-stats-add">
            <%= form_with model: @game  do |form| %>
                <div class="input_field">
                    <%= form.label :against_team %><br>
                    <%= form.text_field :against_team , required: true, placeholder: "Opposition Team..." %>
                </div>

                <div class="input_field">
                    <%= form.label :date %><br>
                    <%= form.date_field :date , required: true %>
                </div>

                <div class="input_field">
                    <%= form.label :time %><br>
                    <%= form.time_field :time, required: true%>
                </div>

                <div class="input_field">
                    <%= form.label :rink_name %><br>
                    <%= form.text_field :ring_name, placeholder: "Rink Name..."%>
                </div>

                <div class="input_field">
                    <%= form.label :city %><br>
                    <%= form.text_field :city, placeholder: "City..."%>
                </div>

                <div class="input_field">
                    <%= form.label :state %><br>
                    <%= form.text_field :state, placeholder: "State..."%>
                </div>

                <div class="submit-button">
                    <%= form.submit class: "btn btn-success" %>
                </div>
            
            <% end %>
        </div>
    </div>

 <%= render 'shared/footer' %>
</body>