<html lang="en">
<%= render 'shared/header', page_title: "View Game" %>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class= "logo-image">
                <%= image_tag("HockeyLogo.png", width: '75px', height: '75px')%>
            </div>

            <%#For collapse NavBar%>
            <a class="navbar-toggler" type="a" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-secondary"></span>
            </a>

            <%# Change disabled from home to page you are modifying %>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav button-div">
                    <%= link_to '<button>Home</button>'.html_safe, root_path() %>
                    <div class= "vertical-line"></div>
					<%= link_to '<button>View Games</button>'.html_safe, games_path() %>
                    <div class= "vertical-line"></div>
                    <%= link_to '<button>View Players</button>'.html_safe, players_path() %>
                    <div class= "vertical-line"></div>
                    <button>View Analytics</button>
                </div>
                <div class= "navbar-nav login">
                    <a href="#">Admin Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="body-div-game-show">
        <div class="title">
            <h1>Game Statistics</h1>
        </div>

        <div class="game-stats">
            <h3>Texas A&M University vs. <%= @game.against_team%> </h3>
            <h4> <%= @game.goals_for%> - <%= @game.goals_against%> <%= @overtime %> </h4>

            <div class="game-info">
                <h3>Game Information:</h3>
                <h4><i class="fa fa-map-marker" style="font-size:48px;color:#500000;"></i> <%= @game.ring_name%>, <%= @game.city %>, <%= @game.state %> @ <%= @game.time.hour %>:<%= @game.time.min %> </h4>
                <h4><i class="fa fa-calendar" style="font-size:32px;color:#500000;"></i> <%= @game.date.month %>/<%= @game.date.day %>/<%= @game.date.year %> </h4>
            </div>

            <% if @game.goals_for %>
                <div class="game-played-stats">
                    <h3>Total Game Statistics:</h3>
                    <% if @game.powerplay_attemps %>
                        <h4>Powerplay Attempts: <%= @game.powerplay_attemps%></h4>
                    <%end%>

                    <% if @game.killed_penalties %>
                        <h4>Killed Penalties: <%= @game.killed_penalties%></h4>
                    <%end%>
                    <% if @game.total_penalties %>
                        <h4>Total Penalties: <%= @game.total_penalties%></h4>
                    <%end%>
                </div>
            <%end%>
        </div>
		
        <div class="show-game-div">
            <%= link_to '<button class="btn btn-success">Edit Game</button>'.html_safe, edit_game_path(@game) %>
        </div>
    </div>
    
    <%# Footer %>
    <div class="footer">
        <div class="info">
            <h5>Spirit Ice Arena</h5>
            <h5>400 Holleman Dr E, College Station, TX 77840</h5>
            <h5>GENERAL INQUIRIES: TAMUICEHOCKEY@GMAIL.COM</h5>
            <p><a href = "mailto: TAMUICEHOCKEY@GMAIL.COM" target="_blank">Email Us</a></p>
        </div>
        <div class="sponsors">
            <div>
                <%= image_tag("rec.png")%>
            </div>
            <div>
                <%= image_tag("ACHA.png")%>
            </div>
        </div>
    </div>
</body>

    
