<html lang="en">
<%= render 'shared/header', stylesheet_link: 'games', page_title: "View Game" %>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<body>
    <%= render 'shared/navbar' %>

    <div class="body-div-game-show">
        <div class="title" style="color:white !important;">
            <h1>Game Statistics</h1>
        </div>

        <div class="game-stats">
            <h3>Texas A&M University vs. <%= @game.against_team%> </h3>
            <h3><%= @scrimmage_game %></h3>
            <div style="display:flex;flex-direction:row;justify-content:center;">
                <h4 style="color:darkgreen;"> <%= @game.goals_for%></h4> <h4><pre> - </pre> </h4> <h4 style="color:red;"><%= @game.goals_against%></h4> <h4><%= @overtime %> </h4>
            </div>

            <div class="game-info">
                <h3>Game Information:</h3>
                <h4><i class="fa fa-map-marker" style="font-size:48px;color:#500000;"></i> <%= @game.ring_name%>, <%= @game.city %>, <%= @game.state %> @ <%= @game.time.strftime('%I:%M %p') %> </h4>
                <h4><i class="fa fa-calendar" style="font-size:32px;color:#500000;"></i> <%= @game.date.month %>/<%= @game.date.day %>/<%= @game.date.year %> </h4>
            </div>

            <% if @game.powerplay_attemps || @game.total_penalties %>
                <div class="game-played">
                    <div class="game-played-title">
                        <h3>Total Game Statistics:</h3>
                    </div>

                    <div class="game-played-stats">
                        <% if @game.powerplay_attemps%>
                            <div class="stat-box">
                                <% if @game.powerplay_goals %>
                                    <h4>Powerplay Goals: <%= @game.powerplay_goals%></h4>
                                <%end%>

                                <% if @game.powerplay_attemps %>
                                    <h4>Powerplay Attempts: <%= @game.powerplay_attemps%></h4>
                                <%end%>

                                <% if @powerplay_percentage %>
                                    <h4>Powerplay Percentage: <%= @powerplay_percentage%>%</h4>
                                <%end%>
                            </div>
                        <%end%>

                        <% if @game.total_penalties %>
                            <div class="stat-box">
                                <% if @game.killed_penalties %>
                                    <h4>Killed Penalties: <%= @game.killed_penalties%></h4>
                                <%end%>

                                <% if @game.total_penalties %>
                                    <h4>Total Penalties: <%= @game.total_penalties%></h4>
                                <%end%>

                                <% if @kill_percentage %>
                                    <h4>Penalty Kill Percentage: <%= @kill_percentage%>%</h4>
                                <%end%>
                            </div>
                        <%end%>
                    </div>
                </div>
            <%end%>
        </div>
		
        <% if admin_signed_in? %>
            <div class="show-game-div">
                <%= link_to '<button class="btn btn-success">Edit Game</button>'.html_safe, edit_game_path(@game) %>
            </div>
        <% end %>
    </div>
    
    <%= render 'shared/footer' %>
</body>
