<html>
<%= render 'shared/header', stylesheet_link: 'players', page_title: "Delete Player" %>


<body>
  <%= render 'shared/navbar' %>

  <div class="players-delete">
    <div class="delete-player-title">
      <h2>Delete Player</h2>
    </div>

    <div class="player-text-delete">
      <%= form_for(@player, :method => 'delete') do |f|%>

      <h3>Are you sure you want to permanently delete this player entry?</h3>
      <h3><%= @player.first_name + " " + @player.last_name %></h3>

      <div class="form-buttons">
        <%= f.submit("Delete Player", data: {confirm: "Click 'OK' to delete game."}, class: "btn btn-danger") %>
      </div>

      <% end %>
    </div>
  </div>

<%= render 'shared/footer' %> 
</html>