<html>
    <%= render 'shared/header', stylesheet_link: 'players', page_title: "Edit Player"%>
    <body>
        <%= render 'shared/navbar' %>
        <div class="body-div-game-edit">
        
        <%= render 'players/playerEditForm'%>

        <div class="edit-player-div">
            <%= link_to '<button class="btn btn-success">View Player</button>'.html_safe, players_path(@player) %>
            <%= link_to '<button class="btn btn-danger">Delete Player</button>'.html_safe, delete_player_path(@player)%>
        </div>

        </div>
        <%= render 'shared/footer' %>
    </body>
</html>