<html>
  <%= render 'shared/header', stylesheet_link: 'players', page_title: "Players Index" %>
	<head>
		<style>
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
		</style>
	</head>
	<body>
	  <%= render 'shared/navbar' %>

		<h2>Players:</h2>
		<% flash.each do |type, msg| %>
		<div>
			<%= msg %>
		</div>
		<% end %>
		<table class="center">
			<tr>
				<th>Name</th>
				<th>Position</th>
				<th>Number</th>
				<th>Action</th>
			</tr>
			<% @player.each do |player| %>
			</tr>
			<td>
				<%= player.first_name  + " " + player.last_name %>
			</td>
			<td>
				<%= player.position %>
			</td>
			<td>
				<%= player.number %>
			</td>
			<td>
				<ul>
					<li>
						<%= link_to "View Player Profile", player_path(player) %>
					</li>
					<li>
						<%= link_to "View Player Participations", playerParticipations_participation_path(player) %>
					</li>
					<% if admin_signed_in? %>
					<li>
						<%= link_to "Edit Player Profile", edit_player_path(player) %>
					</li>
					<li>
          				<%= link_to "Create/Edit Player Stats Per Game", games_participation_path(player) %>
   					</li>
					<li>
						<%= link_to "Delete Player Profile", delete_player_path(player) %>
					</li>
					<% end %>
				</ul>
			</td>
			</tr>
			<% end %>
		</table>
		<% if admin_signed_in? %>
		  <%= link_to '<button class="btn btn-primary btn-sm">Add New Player</button>'.html_safe, new_player_path() %><br/>
		<% end %>
		<%= link_to '<button class="btn btn-primary btn-sm">View Games</button>'.html_safe, games_path() %><br/>
		<%= link_to '<button class="btn btn-primary btn-sm">View all player stats</button>'.html_safe, participations_path() %>
		
  <%= render 'shared/footer' %>
</html>