<html>
	<head>
		<style>
			table, th, td {
			border: 1px solid black;
			}
			table.center {
			margin-left: auto;
			margin-right: auto;
			}
		</style>
	</head>
	<body>
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>

		<h2>Players:</h2>
		<% flash.each do |type, msg| %>
		<div>
			<%= msg %>
		</div>
		<% end %>
		<table class="center">
			<tr>
				<th>Name</th>
				<th>Position</th>
				<th>Number</th>
				<th>Action</th>
			</tr>
			<% @player.each do |player| %>
			</tr>
			<td>
				<%= player.first_name  + " " + player.last_name %>
			</td>
			<td>
				<%= player.position %>
			</td>
			<td>
				<%= player.number %>
			</td>
			<td>
				<ul>
					<li>
						<%= link_to "Details", player_path(player) %>
					</li>
					<li>
						<%= link_to "Edit Stats", pickGame_player_path(player) %>
					</li>
					<li>
						<%= link_to "Delete Player", delete_player_path(player) %>
					</li>
				</ul>
			</td>
			</tr>
			<% end %>
		</table>
		<%= link_to "Add New Player", new_player_path() %><br/>
		<%= link_to "View Games", games_path() %>
</html>