<html>
  <%= render 'shared/header', stylesheet_link: 'players', page_title: "Players Index" %>
	<body>
	  <%= render 'shared/navbar' %>
		<div class="player-title">
			<h2>Players</h2>
			<% if admin_signed_in? %>
			  <%= link_to '<button class="btn btn-success">Add New Player</button>'.html_safe, new_player_path() %><br/>
			<% end %>
		</div>
		<% flash.each do |type, msg| %>
		<div>
			<%= msg %>
		</div>
		<% end %>
			<% @player.each do |player| %>
				<% if player.position  == "Left Wing"%>
					<%= render 'shared/player_tile', player_image: player.image_link , player_firstname: player.first_name, player_lastname: player.last_name, player_number: player.number, player_position: player.position, player_id: player %> 
				<% end %>
			<% end %>
			<% @player.each do |player| %>
				<% if player.position  == "Right Wing"%>
					<%= render 'shared/player_tile', player_image: player.image_link , player_firstname: player.first_name, player_lastname: player.last_name, player_number: player.number, player_position: player.position, player_id: player %> 
				<% end %>
			<% end %>
			<% @player.each do |player| %>
				<% if player.position  == "Center"%>
					<%= render 'shared/player_tile', player_image: player.image_link , player_firstname: player.first_name, player_lastname: player.last_name, player_number: player.number, player_position: player.position, player_id: player %> 
				<% end %>
			<% end %>
			<% @player.each do |player| %>
				<% if player.position  == "Defenseman"%>
					<%= render 'shared/player_tile', player_image: player.image_link , player_firstname: player.first_name, player_lastname: player.last_name, player_number: player.number, player_position: player.position, player_id: player %> 
				<% end %>
			<% end %>
			<% @player.each do |player| %>
				<% if player.position  == "Goalie"%>
					<%= render 'shared/player_tile', player_image: player.image_link , player_firstname: player.first_name, player_lastname: player.last_name, player_number: player.number, player_position: player.position, player_id: player %> 
				<% end %>
			<% end %>
  <%= render 'shared/footer' %>
</html>