
<html lang="en">
<%= render 'shared/header', stylesheet_link: 'players', page_title: "View Player"%>
<body>
    <%= render 'shared/navbar' %>

    <div class="body-div-player-show">
        <div class="title" style="color:white !important;">
          <h1><%= @player.first_name + " " + @player.last_name + " "%>Analytics</h1>
        </div>

        <div class="player-analytics">
          <% if @player.position != "Goalie" %>
            <div class="graphs">
              <%= goal_score_skater %>
            </div>
            <div class="graphs">
              <%= goal_assist_skater %>
            </div>
            <div class="graphs">
              <%= penalty_minutes_skater %>
            </div>
          <% end %>
          
          <% if @player.position == "Goalie" %>
            <div class="graphs">
              <%= goal_save_goalie %>
            </div>

            <div class="graphs">
              <%= goal_assist_skater %>
            </div>
          <% end %>
        </div>
        
    </div>
    
    <%= render 'shared/footer' %>
</body>
    
