
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# Change style sheet link tag %>
    <%= stylesheet_link_tag 'players' %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <%# Change title %>
    <title>Add New Player</title>
</head>
<body>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <div class= "logo-image">
                <%= image_tag("HockeyLogo.png", width: '75px', height: '75px')%>
            </div>

            <%#For collapse NavBar%>
            <a class="navbar-toggler" type="a" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-secondary"></span>
            </a>

            <%# Change disabled from home to page you are modifying %>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav button-div">
                    <%= link_to '<button  disabled>Home</button>'.html_safe, root_path() %>
                    <div class= "vertical-line"></div>
					<%= link_to '<button>View Games</button>'.html_safe, games_path() %>
                    <div class= "vertical-line"></div>
                    <%= link_to '<button>View Players</button>'.html_safe, players_path() %>
                    <div class= "vertical-line"></div>
                    <button>View Analytics</button>
                </div>
                <div class= "navbar-nav login">
                    <a href="#">Admin Login</a>
                </div>
            </div>
        </div>
    </nav>

    <div>
        <h1>Player Profile</h1>
        <h3> First Name: <%= @player.first_name%> </h3>
        <h3> Last Name: <%=@player.last_name%> </h3>
        <h3> Position: <%= @player.position %> </h3>
        <h3> Number: <%= @player.number %> </h3>

        <%= link_to "Edit Stats", edit_player_path(@player) %><br/>
        <%= link_to("Home", root_path, :class => 'go back') %>
    </div>
    
    <%# Footer %>
    <div class="footer">
        <div class="info">
            <h5>Spirit Ice Arena</h5>
            <h5>400 Holleman Dr E, College Station, TX 77840</h5>
            <h5>GENERAL INQUIRIES: TAMUICEHOCKEY@GMAIL.COM</h5>
            <p><a href = "mailto: TAMUICEHOCKEY@GMAIL.COM" target="_blank">Email Us</a></p>
        </div>
        <div class="sponsors">
            <div>
                <%= image_tag("rec.png")%>
            </div>
            <div>
                <%= image_tag("ACHA.png")%>
            </div>
        </div>
    </div>
</body>
    
